<div>
  <a routerLink="/login" routerLinkActive="active"></a>
</div>
<div *ngIf="afAuth.user | async as user">
    <nav class="navbar sticky-top navbar-dark bg-info">
        <div class="navbar-header">
      <h4 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"class="navbar-brand-header"><b>Dashboard</b></h4>
    </div>
    
    <div>
      <a style="font-size: 15px" class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="will lead you to your activities"  routerLink="/userdata" routerLinkActive="active"><b>Profile</b></a>
   
     <a style="font-size: 15px" class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Just a click away from logout." routerLink="#" routerLinkActive="active" (click)="doLogout()"><b>Logout</b></a>

    </div>
  </nav>
  </div>



<div class="activityContainer" *ngIf="afAuth.user | async as user">
   
  <div class="card">
    <nav class="navbar navbar-expand-lg navbar bg-light ">
      <div class="almostleft">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ngb-tabset>
            <ngb-tab title="Left Activities!">
              <ng-template ngbTabContent>
                <ul class="navbar-nav mr-auto">
                  <!-- <li class="nav-item active"><a class="nav-link" href="#" >Left Activities</a></li> -->
                </ul>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info" *ngFor="let x of activityMap; let i = index"
                    (click)="onClick(x, i)">
                    <span><input class="form-check-input" type="checkbox" />{{
                    x.Name
                  }}</span>
                    <span><b> on </b></span>{{ x.Time.hour }}:{{ x.Time.minute }}
                  </li>
                </ul>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Done Activities!">
              <ng-template ngbTabContent>
                <!-- <li class="nav-item active"><a  class="nav-link" href="#"></a></li> -->
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info" *ngFor="let y of deleteMap; let e = index"
                    (click)="delItems(y, e)">
                    <span><del><input class="form-check-input" type="checkbox" />{{
                      y.Name
                    }}</del></span>
                    <span><b><del> on</del> </b></span>
                    {{ y.Time.hour }}:{{ y.Time.minute }}
                  </li>
                </ul>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </nav>
  </div>
  
  <!-- To Submit new Activities. -->
  
  <br/>
  <div class="card">
    <div class="submitCard">
      <form [formGroup]="myform" autocomplete="on"  novalidate>
        <div class="form-group">
          <div class="card-header">
          <h4>Add Acitivity :</h4>
        </div>
      
        <div>  
          <input style="width: 40%;margin-top:25px; float:left;" id="t1" class="form-control" formControlName="name"
            type="text" #ac placeholder="Enter the Activity" required />
          </div>
          <div>
          <ngb-timepicker size="small" style="margin-left:20px;width:50%;float:left;" formControlName="time"></ngb-timepicker>
        </div>
      </div>  
       <br>
        <button type="submit" style="margin-bottom:10px; margin-left:10px;"  class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Just a click away to add new activity" [disabled]="
        !(this.myform.controls.name.valid && this.myform.controls.time.valid)
      " type="submit" (click)="apendAct()">
          Submit
        </button>
       
      </form>
    </div>
  </div>

<!-- The sidebar which displays what users can do here.... -->

  <div class="todoDetail">
  <div class="card ">
    <div class="card-header ">
      <h4>Things you can do here,</h4>
    </div>
      <ul>
        <li>You can add an event.</li>
        <li><del>You can remove the activities/events.</del></li>
        <li>You can track your left activities and done activities</li>
      </ul>
    </div>
    <div style="margin-top:25px;">
    <div class="card-header ">
        <h5>Welcome to the Dashboard,</h5>
        <p style="margin-left: 150px;"><b>{{user.email}}</b><br>
              </p>
      </div>
    </div>
  </div>
</div>


<!-- <div style="margin-top:10px; margin-left:10px;">
    <p><b>Hello,</b><br><b><span style="margin-left: 10px;margin-top: 05px;">{{user.email}}</span></b>
    <br><b>the application welcomes you</b></p>
</div> -->