<div>
  <a routerLink="/login" routerLinkActive="active"></a>
</div>
<div *ngIf="afAuth.user | async as user">
    <nav class="navbar navbar-dark bg-primary">
        <div class="navbar-header">
      <a class="navbar-brand" routerLink="/userdata" routerLinkActive="active"><b>Dashboard</b></a>
    </div>
    <div>
      <a class="navbar-brand"><b>{{user.email}}</b></a>
    </div>
    <!-- <div>
      <a class="navbar-brand" routerLinkActive="active" routerLink="/userdata"><b>Profile</b></a>
    </div> -->
    <div>
      <button type="button" class="btn brand-primary" (click)="doLogout()">
        <b>Logout</b>
      </button>
    </div>
  </nav>
  <!-- <router-outlet></router-outlet> -->

</div>



<div class="activityContainer" *ngIf="afAuth.user | async as user">
   
  <div class="card">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="almostleft">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ngb-tabset>
            <ngb-tab title="Left Activities!">
              <ng-template ngbTabContent>
                <ul class="navbar-nav mr-auto">
                  <!-- <li class="nav-item active"><a class="nav-link" href="#" >Left Activities</a></li> -->
                </ul>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-primary" *ngFor="let x of activityMap; let i = index"
                    (click)="onClick(x, i)">
                    <span><input class="form-check-input" type="checkbox" />{{
                    x.Name
                  }}</span>
                    <span><b> on </b></span>{{ x.Time.hour }}:{{ x.Time.minute }}
                  </li>
                </ul>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Done Activities!">
              <ng-template ngbTabContent>
                <!-- <li class="nav-item active"><a  class="nav-link" href="#"></a></li> -->
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success" *ngFor="let y of deleteMap; let e = index"
                    (click)="delItems(y, e)">
                    <span><del><input class="form-check-input" type="checkbox" />{{
                      y.Name
                    }}</del></span>
                    <span><b><del> on</del> </b></span>
                    {{ y.Time.hour }}:{{ y.Time.minute }}
                  </li>
                </ul>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </nav>
  </div>
  <!-- To Submit new Activities. -->
  <br />
  <div class="card">
    <div class="submitCard">
      <form [formGroup]="myform" novalidate>
        <div class="form-group">
          <div class="card-header">
          <h4>Add Acitivity:</h4>
        </div>
          <!-- <label style="float: left;">New Activity:</label>  -->

          <input style="width: 50%;margin-top:25px; float:left;" id="t1" class="form-control" formControlName="name"
            type="text" #ac placeholder="Enter the Activity" required />
          <ngb-timepicker size="small" style="width:50%;float:left;" formControlName="time"></ngb-timepicker>
        </div>
       
        <button type="submit" class="btn btn-primary" [disabled]="
        !(this.myform.controls.name.valid && this.myform.controls.time.valid)
      " type="submit" (click)="apendAct()">
          Submit
        </button>
       
      </form>
    </div>
  </div>

  <div class="todoDetail">
  <div class="card">
    <div class="card-header">
      <h4>Things you can do.</h4>
    </div>
      <ul>
        <li>You can add an event.</li>
        <li><del>You can remove the activities/events.</del></li>
        <li>You can track your current and done activities</li>
      </ul>
    </div>
  </div>
</div>