/* .container{
    width:10000px;
    margin-right: auto;
    margin-left: auto;
    border-color: black   
} */

/* to add aarsh_inc at the bottom... */
.bottomright{
    position: fixed;
    bottom:0px;
    right:20px;
  }
  